<ion-content ng-controller="LoginController">
        <form name="myForm" class="padding">
          <div class="form">
           <label class="item item-input">
             <input type="email" placeholder="Email" name="email" ng-model="form.email" ng-required="true">
             </label>

             <label class="item item-input">
             <input type="password" placeholder="Password" name="password" ng-minlength="6" ng-model="form.password" ng-required="true">
             </label>

             <div class="padding">
               <p ng-show="myForm.password.$error.minlength">Password must be minimum of 6 characters</p>
             </div>


           <div class="padding">
             <button class="button button-block button-positive" ng-disabled="myForm.$invalid" ng-click="submit()">Sign In</button>
           </div>

        </div>
          
            <a ui-sref="signup">Or Sign Up</a>

        </form>
</ion-content>